.container{
width:1280px;
height:720px;
position: relative;
margin: 0;
padding: 0;
display: block;
overflow: hidden;
}
.video {
position: relative;
display:block;
height:100%;
width: 100%;
}

.region{
position: absolute;
}

.text{
margin: 0;
padding: 0;
border: 0;
}

video::-webkit-media-controls-enclosure{
    z-index: 1;
}